.Footer{
    text-align: center;
    height: 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 18px;
    text-shadow: 0 0 0.5px rgb(150, 224, 255), 0 0 1px rgba(0, 178, 255, 1),
        0 0 2px rgba(0, 178, 255, 1), 0 0 4px rgba(38, 104, 127, 1),
        0 0 15px rgba(38, 104, 127, 1), 0 0 25px rgba(38, 104, 127, 1),
        0 0 50px rgba(38, 104, 127, 1);
        @media all and (min-width:2000px){
            font-size: 30px;
            height: 400px;
            }
    &__list{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    &__text{
        margin:10px;
    }
    &__icon{
        display:block;
        color:white;
        font-size: 30px;
        margin:10px 30px;
        &:hover{
        transition: 0.3s ease-in-out;
        font-size: 32px;
        color:black;
        @media all and (min-width:768px){
            font-size: 44px;
            margin:20px 70px;
        }
        }
        @media all and (min-width:768px){
            font-size: 40px;
            margin:20px 70px;
        }
        @media all and (min-width:2000px){
            font-size: 60px;
            margin:30px 100px;
            }
    }
}